  <div class="ui fullcontainer">
  <div class="pusher">
  <div class="ui container">
    <h1 class=''>
      Support Dashboard for <%= current_user.first_name %>
    </h1>



  <div style="margin:50px 0px 50px 0px" class="ui centered three column grid">
    <div class="ui fluid special cards">
      <div class="column squares blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <h1>
                <%= link_to "Tickets", support_tickets_path, class:'white' %>
              </h1>
            </div>
          </div>
        </div>
        <i style="font-size:100px;" class="bordered inverted olive ticket icon"></i>
      </div>
      <div class="column squares blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <h1>
                <%= link_to "Orders", user_path(current_user), class:'white' %>
              </h1>
            </div>
          </div>
        </div>
        <i style="font-size:100px" class="bordered inverted blue file text outline icon"></i>
      </div>
      <div class="column squares blurring dimmable image">
        <div class="ui dimmer">
          <div class="content">
            <div class="center">
              <h1>
                <%= link_to "Invoices", user_path(current_user), class:'white' %>
              </h1>
            </div>
          </div>
        </div>
        <i style="font-size:100px" class="bordered inverted teal dollar massive icon"></i>
      </div>
    </div>
  </div>
