<%= form_for [ @ticket, @comment ], remote: true do |f| %>

<p>Posting as <strong><%= current_user.first_name %></p></strong>
  <div class="ui form" style="padding-bottom:7px">
    <div class="field">
      <%= f.text_area :body, placeholder: 'Post a reply', autofocus: true %>
    </div>
  </div>
  <!-- <div class="ui clearing segment"> -->
    <%= f.submit :class => 'ui teal right floated button button-padding' %>
  <!-- </div> -->
  <br>
<% end %>
