<div class="ui fullcontainer">

<!-- secondary nav tabs -->
  <div class="ui top attached tabular menu">
    <a class="item active" data-tab="cal1" >Calendar</a>
    <a class="item" data-tab="cal2">Appointments Overview</a>
    <a class="item" data-tab="cal3">Shift Manager</a>
    <div class="right menu">
<!-- searchbar tab -->
      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search staff...">
          <i class="search link icon"></i>
        </div>
      </div>
    </div>
  </div>
<!--  -->
  <div class="ui bottom attached tab segment active" data-tab="cal1">
    <div class="ui container">
      <h1>Calendar</h1>
      <img style='width:100%' src="https://camo.githubusercontent.com/fed7554c33fedc088953bd12913ce915466d3c81/687474703a2f2f696d6775722e636f6d2f486b726b4161592e706e67" alt="">
    <p>*super real working calendar, not a placeholder</p>

  <!--
  need to enable devise again.

  google calendar api
  https://console.developers.google.com/apis/dashboard?project=focus-fold-166705&duration=PT1H

  documentation
  http://www.thegreatcodeadventure.com/using-the-google-api-ruby-client-with-google-calendar-api/
   -->

    </div>
  </div>
</div>
