<div class="ui fullcontainer">

<!-- secondary nav tabs -->
  <div class="ui top attached tabular menu">
    <!-- <a class='item'></a> -->
    <a class="active item">Clients List</a>
    <a class="item">Staff List</a>
    <a class="item">Admin List</a>

    <div class="right menu">
<!-- searchbar tab -->
      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search staff...">
          <i class="search link icon"></i>
        </div>
        <div class="item"></div>

        </div>
    </div>
  </div>

  <div class="ui bottom attached segment">
    <h1>Users List</h1>
      <p> make into one column, the right side opens ajax call on user profile render </p>
      <p>or modal </p>


<div class="ui container">

        <% @users.each do |user| %>
        <div class="ui cards">
          <div class="card">
            <div class="content">
              <div class="header"><%= link_to user.full_name, user %></div>
              <div class="meta"><%= user %></div>
              <div class="description">
                <%= user.email %>
              </div>
            </div>
          </div>
        </div>
        <% end %>

      </div>


</div>
</div>
