<div class="nested-fields">

  <form class="ui form">
    <div class="fields">
      <div class="field">
        <button class="ui icon button">
          <%= link_to_remove_association ("Remove"), f, :class => "" %>
        </button>
      </div>

      <div class="nine wide field">
      <%= f.input :item %>
      </div>
      <div class="two wide field">
      <%= f.input :unit %>
      </div>
      <div class="two wide field">
      <%= f.input :amount %>
      </div>
      <div class="two wide field">
        <label for="total">Total</label>
        <input type="text" placeholder="0.00">
      </div>
    </div>
  </form>
</div>
