<div class="ui secondary pointing menu">
  <a class="item">
    Current tickets
  </a>
  <a class="item active">
    Closed Tickets
  </a>
  <a class="item">

  </a>
  <div class="right menu">
    <a class="ui item">
      Another thing
    </a>
  </div>
</div>



<div class="ui segment">

  <%= link_to new_ticket_path(@ticket), class: "ui right floated small primary labeled icon button" do %>
  <i class="user right icon"></i> Tickets
  <% end %>


  <h1>Ticket List</h1>
<hr>

<% @tickets.each do |ticket| %>
<div class="row">
<div class="col-xs-1 text-center">
  <h3><%#= ticket.comment.count %></h3>
  <!-- <sup>Comments</sup> -->
</div>
<div class="col-xs-11">
  <h3> <%= link_to ticket.title, ticket_path(ticket) %> </h3>
  <br>
</div>

</div>
<hr>
<% end %>



  <h1 class="ui left floated">Tickets</h1>

  <table class="ui compact celled definition table">
    <thead class="full-width">
      <tr>
        <th>Check</th>
        <th>ID</th>
        <th>Flag</th>
        <th>Status</th>
        <th>Title</th>
        <th>Description</th>
        <th>Agent</th>
        <th>Client</th>
        <th>E-mail address</th>
        <th>Created</th>
        <th>Updated</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="collapsing">
          <div class="ui fitted slider checkbox">
            <input type="checkbox"> <label></label>
          </div>
        </td>
        <td>1</td>
        <td>None</td>
        <td>
          <div class="ui form">
            <div class="field">
              <select class="ui search dropdown">
                <option value="">Status</option>
                <option value="">Pending</option>
                <option value="">In Progress</option>
                <option value="">Something</option>
                <option value="">Closed</option>
              </select>
            </div>
          </div>
        </td>
        <td>Virtual machine something</td>
        <td>The thingy is not working and I need help getting it back up and stuff and this is a long description</td>
        <td>Agent Name</td>
        <td>Client Name</td>
        <td>jhlilk22@yahoo.com</td>
        <td>September 12, 2013</td>
        <td>September 14, 2013</td>
        <td>No</td>
      </tr>

      <tr>
        <td class="collapsing">
          <div class="ui fitted slider checkbox">
            <input type="checkbox"> <label></label>
          </div>
        </td>
        <td>1</td>
        <td>None</td>
        <td>
          <div class="ui form">
                  <div class="field">
                    <select class="ui search dropdown">
                      <option value="">Status</option>
                      <option value="">Pending</option>
                      <option value="">In Progress</option>
                      <option value="">Something</option>
                      <option value="">Closed</option>
                    </select>
                  </div>
                </div>
              </td>
        <td>Virtual machine something</td>
        <td>JThe thingy is not working and I need help getting it back up and stuff and this is a long description</td>
        <td>Agent Name</td>
        <td>Client Name</td>
        <td>jamieharingonton@yahoo.com</td>
        <td>January 1, 2014</td>
        <td>January 11, 2014</td>
        <td>Yes</td>
      </tr>

      <tr>
        <td class="collapsing">
          <div class="ui fitted slider checkbox">
            <input type="checkbox"> <label></label>
          </div>
        </td>
        <td>1</td>
        <td>None</td>
        <td>
          <div class="ui form">
            <div class="field">
              <select class="ui search dropdown">
                <option value="">Status</option>
                <option value="">Pending</option>
                <option value="">In Progress</option>
                <option value="">Something</option>
                <option value="">Closed</option>
              </select>
            </div>
          </div>
        </td>
        <td>Virtual machine something</td>
        <td>The thingy is not working and I need help getting it back up and stuff and this is a long description</td>
        <td>Agent Name</td>
        <td>Client Name</td>
        <td>jilsewris22@yahoo.com</td>
        <td>May 9, 2014</td>
        <td>May 11, 2014</td>
        <td>Yes</td>
      </tr>
    </tbody>

    <tfoot class="full-width">
      <tr>
        <th></th>

        <th colspan="4">
          <div class="field">
            <select class="ui fluid dropdown">
              <option value="">Status</option>
              <option value="">Pending</option>
              <option value="">In Progress</option>
              <option value="">Complete</option>
            </select>
          </div>
        </th>

        <th colspan="7">
          <div class="ui small primary button">
            Save
          </div>
          <div class="ui small  disabled button">
            Close
          </div>
        </th>


      </tr>
    </tfoot>
</table>
</div>
