<div  style ="margin-top:200px"  class="pusher ">
  <div class="ui middle aligned center aligned grid">
    <div class="column">

      <%= form_for(resource, as: resource_name, url: new_user_session_path) do |f| %>

      <div class="ui stacked segment">
        <h2 class="ui header">Please log in to continue</h2>
        <div class="field">
          <div class="ui fluid large left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, placeholder: 'example@email.com', autofocus: true %>
          </div>
        </div>

        <div class="field">
          <div class="ui fluid large left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, placeholder: 'Password (6 characters min.)', autocomplete: "off" %>
          </div>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "Log in!", class:"ui fluid large teal submit button" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
