/*
 *= require_tree .
 *= require_self
 */
 @import "semantic-ui";
 @import "semantic-ui/collections/menu";

html body {
  background-color: #EFEFEF;
}
#navbar {
  padding-left: 100px;
}

.tiffany{
  color: #03FCE6;
}
