<div class="ui pointing secondary menu">

  <a class="active item" data-tab="overview">Overview</a>
  <a class="item" data-tab="targets">Targets</a>

<!-- searchbar -->
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <!-- <input type="text" placeholder="Search invoices"> -->
        <!-- <i class="search link icon"></i> -->
      </div>
    </div>
  </div>

</div>
<!-- <div class="ui segment"> -->

<!-- OVERVIEW -->
  <div class="ui bottom attached tab segment" data-tab="overview">
<!-- <div class="ui segment"> -->

<h1>Reports</h1>


<h2>Your Rating</h2><small>last 5 showing</small>
<table class="ui celled padded table">
  <thead>
    <tr><th class="single line">Review</th>
    <th>Ticket ID</th>
    <th>Client</th>
    <th>Consensus</th>
    <th>Comments</th>
  </tr></thead>

  <tbody>
    <tr>
      <td><h2 class="ui center aligned header">
        <i class="smile icon"></i>
      </h2></td>
      <td>
        212
      </td>
      <td>Bob Bobson</td>
      <td class="right aligned">
        80% <br>
        <a href="#">18 studies</a>
      </td>
      <td class="">Creatine supplementation is the reference compound for increasing muscular creatine levels; there is variability in this increase, however, with some nonresponders. More contect just for the hell of it blah blah</td>
    </tr>
    <tr>
      <td>
        <h2 class="ui center aligned header">A</h2>
      </td>
      <td class="single line">
        32
      </td>
      <td>
        <div class="ui star rating" data-rating="3" data-max-rating="3"></div>
      </td>
      <td class="right aligned">
        100% <br>
        <a href="#">65 studies</a>
      </td>
      <td class="single line">Creatine is the reference compound for power improvement, with numbers from one meta-analysis to assess potency</td>
    </tr>
  </tbody>
</table>


</div>
