<div class="ui fullcontainer">

<!-- secondary nav tabs -->
  <div class="ui top attached tabular menu">
    <!-- <a class='item'></a> -->
    <a class="active item">Daily Report</a>
    <a class="item">Monthy Reports</a>
    <div class="right menu">
<!-- searchbar tab -->
      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search tickets...">
          <i class="search link icon"></i>
        </div>
      </div>
    </div>
  </div>

<!-- tickets header -->
  <div class="ui bottom attached segment">
    <h1>Reports</h1>
    <hr>
    <div class="ui container">

      <div class="ui segment floating">
        <h2>Your Achievments</h2>
        <div class="ui four statistics">
          <div class="statistic">
            <div class="value">
              1412
            </div>
            <div class="label">
              Tickets
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              <i class="empty star icon"></i> 8.9
            </div>
            <div class="label">
              Customer Satisfation
            </div>
          </div>
          <div class="statistic">
            <div class="value">
              <i class="coffee icon"></i>
              1947
            </div>
            <div class="label">
              Cups/Year
            </div>
          </div>
          <div class="statistic">
            <div class="text value">
              Five<br>
              Year
            </div>
            <div class="label">
              Staff Member
            </div>
          </div>
        </div>
        <br>
      </div>


      <h2>Your Rating</h2>
      <table class="ui celled padded table">
        <thead>
          <tr><th class="single line">Review</th>
          <th class="collapsing">Ticket ID</th>
          <th>Client</th>
          <th>Comments</th>
        </tr></thead>

        <tbody>
          <tr>
            <td class="center aligned">
              <i class="huge smile icon"></i>
            </td>
            <td class="center aligned">
              53
            </td>
            <td class="collapsing">Bob Bobson</td>
            <td class="">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
          </tr>
          <tr>
            <td class="center aligned">
              <i class="huge smile icon"></i>
            </td>
            <td class="center aligned">
              27
            </td>
            <td>Bob Bobson</td>
            <td class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
