<div class="ui fullcontainer">

<!-- secondary nav tabs -->
  <div class="ui top attached tabular menu">
    <!-- <a class='item'></a> -->
    <a class="active item">Monthy Reports</a>
    <a class="item">Something Else</a>
    <div class="right menu">
<!-- searchbar tab -->
      <div class="item">
        <div class="ui transparent icon input">
          <input type="text" placeholder="Search tickets...">
          <i class="search link icon"></i>
        </div>
      </div>
    </div>
  </div>

<!-- tickets header -->
  <div class="ui bottom attached segment">
    <h1>Reports</h1>
    <hr>
    <div class="ui container">
      <h2>Your Rating</h2>
      <table class="ui celled padded table">
        <thead>
          <tr><th class="single line">Review</th>
          <th>Ticket ID</th>
          <th>Client</th>
          <th>Consensus</th>
          <th>Comments</th>
        </tr></thead>

        <tbody>
          <tr>
            <td><h2 class="ui center aligned header">
              <i class="smile icon"></i>
            </h2></td>
            <td>
              212
            </td>
            <td>Bob Bobson</td>
            <td class="right aligned">
              80% <br>
              <a href="#">18 studies</a>
            </td>
            <td class="">Creatine supplementation is the reference compound for increasing muscular creatine levels; there is variability in this increase, however, with some nonresponders. More contect just for the hell of it blah blah</td>
          </tr>
          <tr>
            <td>
              <h2 class="ui center aligned header">A</h2>
            </td>
            <td class="single line">
              32
            </td>
            <td>
              <div class="ui star rating" data-rating="3" data-max-rating="3"></div>
            </td>
            <td class="right aligned">
              100% <br>
              <a href="#">65 studies</a>
            </td>
            <td class="single line">Creatine is the reference compound for power improvement, with numbers from one meta-analysis to assess potency</td>
          </tr>
        </tbody>
      </table>


    </div>
  </div>
</div>
