
<div class="ui inverted vertical footer segment">
  <div class="ui container">
<br><br>
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">What bear is best</a>
          <a href="#" class="item">Black Bears</a>
          <a href="#" class="item">Prevent forest fires</a>
          <a href="#" class="item">Unbearable Puns</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Services</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">CRM Introductions</a>
          <a href="#" class="item">Client FAQ</a>
          <a href="#" class="item">Ted Bear Talks</a>
          <a href="#" class="item">Favorite X-Men</a>
        </div>
      </div>
      <div class="three wide column">
        <%= image_tag("codecore", style:'width:150px; height:150px;', class:"ui centered image") %>
      </div>
      <div class="seven wide column">
        <h3 class="ui inverted header">Codecore Final Project</h3>
        <p class="muted-text">Nic Tamura · Cohort 17 · May 2017</p>
        <p class="muted-text">Made with Rails, Semantic CSS Framework, and bears</p>
      </div>
    </div>
    <br><br>
  </div>
</div>
