
<!-- top navbar -->
    <div id="" class="ui inverted top menu navbar grid">
      <div class="ui inverted menu">

        <a class="item">
          spaceritem
          <!-- remove  -->
        </a>
        <a class="item">
          Helpdesk CRM
        </a>

      </div>
      <div class="right menu">

        <a class="active item">
          Alerts
          <!-- probably dropdown -->
          <div class="ui teal label">3</div>
        </a>

        <a class="ui inverted dropdown item">Username
          <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Action</div>
          <div class="item">Another action</div>
          <div class="item">Something else here</div>

        </div>
        </a>




    </div>
</div>

<!-- secondary nav for page -->
    <div class="ui  menu page grid">
        <a href="" class="brand item">Project Name</a>
        <a href="" class="brand item">Project Name</a>
        <a href="" class="brand item">Project Name</a>

    </div>




<!-- side navigation -->
    <div class="ui left visible vertical inverted sidebar labeled icon menu">

      <div class="item"><br><br>
        <!-- temp whitespace -->
      </div>
      <a class="active item" href="dashboard.html">
        <i class="block layout icon"></i>
        Dashboard
      </a>
      <a class="item" href="tickets.html">
        <i class="inbox icon"></i>
        Tickets
      </a>
      <a class="item" href="#">
          <i class="tiny dollar icon"></i>
        Invoices
      </a>
      <a class="item" href="#">
        <i class="file text outline icon"></i>
        Orders
      </a>
      <a class="item" href="#">
        <i class="calendar icon"></i>
        Calendar
      </a>
      <a class="item" href="#">
        <i class="users icon"></i>
        Users
      </a>
      <a class="item" href="#">
        <i class="line chart icon"></i>
        Report
      </a>
    </div>
