
<!-- top navbar -->
    <div id="navbar" class="ui inverted top menu navbar grid">
      <div class="ui inverted menu">

        <a class="item">
          spaceritem
          <!-- remove  -->
        </a>
        <a class="item">
          Helpdesk CRM
        </a>

      </div>
      <div class="right menu">

        <a class="active item">
          Alerts
          <!-- probably dropdown -->
          <div class="ui teal label">3</div>
        </a>

        <a class="ui inverted dropdown item">Username
          <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">Action</div>
          <div class="item">Another action</div>
          <div class="item">Something else here</div>

        </div>
        </a>

        </div>
      </div>
